<%= render partial: "top_card", locals: { name: current_user.name, remaining_likes_quantity: User::LIKE_LIMIT - current_user.likes.count, errors: nil } %>
<div class='mx-auto container row'>
  <div class='col-8'>
    <div class="timeline">
      <%= render partial: 'post', collection: @posts, as: :post, locals: { user: current_user } %>
    </div>
  </div>
</div>
